$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$game-board-border: 2px solid #3f3f3f;
$x-color: #5d89e2;
$o-color: #609b61;

body {
  background-color: #dcdee2;
}
.game {
  // border: 1px solid black;
  height: 360px;
}
.signature {
  text-decoration: underline;
}
#currentTurn {
  font-size: 20px;
  padding-left: 110px;
  font-weight: bold;
}
.gameboard {
  width: 340px;
  height: 340px;
  margin: 25px auto;
}
.gamebutton {
  text-align: center;
  margin: 10px;
}
.gamesquare {
  width: 100px;
  height: 100px;
  float: left;
  color: #a5a2a2;
  text-align: center;
  padding-top: 14px;
  font-size: 45px;
}
#zero, #one, #two, #three, #four, #five {
  border-bottom: $game-board-border;
}
#one, #four, #seven {
  border-left: $game-board-border;
  border-right: $game-board-border;
}
.selectx {
  color: $x-color;
}
.selecto {
  color: $o-color;
}
